.react-datepicker__day-names {
  background: rgb(44, 44, 46);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.react-datepicker__header {
  padding: 0px !important;
  border: 0px !important;
}

.react-datepicker__year-wrapper {
  justify-content: center;
  max-width: 230px !important;
}
.react-datepicker__month {
  margin-top: 16px !important;
}

.react-datepicker__year-text:hover {
  background: #4b4b4e !important;
  color: rgba(255, 255, 255, 0.6);
}

.react-datepicker__year-text--keyboard-selected {
  background: #545457 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.react-datepicker__year-text {
  color: rgba(255, 255, 255, 0.6);
  aspect-ratio: 1/1;
  width: 56px !important;
  border-radius: 9999px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
