@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  display: flex;
}

@supports (min-height: 100svh) {
  body {
    min-height: 100svh;
  }
}

#__next {
  flex: 1 1 auto;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #39393c #1c1c1e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: #1c1c1e;
}

*::-webkit-scrollbar-thumb {
  background-color: #39393c;
  border-radius: 8px;
  border: 2px none transparent;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}
